@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700');

/*    Reset CSS  */
* { margin:0;  padding:0;}
ol,ul {list-style: none; }
body {width:100%; height:100%; background:#fff; color:#222; /*font-family: 'Source Sans Pro', sans-serif;*/ font-family: 'Oxygen', sans-serif;}
a { outline:0; text-decoration:none; color:steelblue;}
img { border:0;}

.wrapper { width:100vw; height:100vh; position:relative; outline:5px solid red;}

/* left panel */
.left {position:absolute; width:60%; height:100%; background:rgba(255,255,255); box-shadow:inset 0 0 30px #eee;}
.left>.leftTop {width:80%; height:15%; padding:10%; position:relative; }
.left>.leftTop>h1 { float:left; width:60%; }
.left>.leftTop>.contact a{ float:left; position:relative; margin-top:7%; color:#222; font-weight:600; overflow:hidden;}
.left>.leftTop>.contact a:before {content:""; position:absolute; left:-5px; top:50%; border-bottom:2px solid #111; width:105%; left:-100px;  transition:left .8s;}
.left>.leftTop>.contact a:hover:before { left:0; }

.left>section { width:100%;}
.left>section>h2 { font-size:5rem; letter-spacing:1px; position:relative; padding-left:10%; margin-bottom:2%;}
.left>section>h2>em { width:1%; height:100%; background:#222; position:absolute; left:0;top:0;}
.left>section>span { padding-left:10%; padding-top:10%; font-weight: 600;}
.left>section>.dot { width:10px; height:10px; background:#222; margin:8% 0 8% 10%;}
.left>section>p {padding:1% 20% 1% 10%;}

/* contact hover left panel */
.left2 {position:absolute; width:60%; height:100%; background-color:rgba(0,0,0,1); /*box-shadow:inset 0 0 100px #333;*/ z-index: 2; left:-60%; transition:all .5s;}
.left2>.leftTop {width:80%; height:15%; padding:10%; position:relative; }
.left2>.leftTop>h1 { float:left; width:60%; }
.left2>.leftTop>.home a{ float:left; position:relative; margin-top:7%; color:#fff; font-weight:600; overflow:hidden;}
.left2>.leftTop>.home a:before {content:""; position:absolute; left:-5px; top:50%; border-bottom:2px solid #fff; width:105%; left:-100px; transition:left .8s;}
.left2>.leftTop>.home a:hover:before { left:0; }
.left2>section { width:100%;}
.left2>section>h2 { font-size:5rem; letter-spacing:1px; position:relative; padding-left:10%; margin-bottom:5%; color:#fff;}
.left2>section>h2>em { width:1%; height:100%; background:#fff; position:absolute; left:0;top:0;}
.left2>section>span { padding-left:10%; padding-top:10%; font-weight: 600; color:#fff;}
.left2>section>.dot { width:10px; height:10px; background:#fff; margin:12% 0 12% 10%;}
.left2>section>ul {padding:1% 20% 1% 10%;}
.left2>section>ul li {float:left; margin-right:1%;}
.left2>section>ul li i{font-size:2rem; color:#fff; transition:all .5s;}
.left2>section>ul li:hover i{color:steelblue;}

/* right panel */
.right {position:absolute; right:0; width:40%; height:100%; }
.slide {position:relative; width:100%; height:100%; overflow:hidden;}
.slide>li>img {position:absolute;}
#portfolio { position:fixed; z-index: 10; right:0; bottom:0; width:300px; height:150px; background-color:#fff; text-align: center; line-height: 150px; box-shadow:inset 0 0 30px #eee;}
#portfolio a {width:100%; height:100%; font-size:1rem; letter-spacing: 2px;}
#portfolio a i { font-size: 1.1rem;}












